#Variable Examples are given below:

In [3]:
x = 5
y = "John"
print(x)
print(y)

5
John

Variable is created the moment you first assign a value to it and then print it.

In [4]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

Variables do not need to be declared with any particular type, and can even change type after they have been set.In this above code,in first line we decleare x as an integer and then in second line x is a string type data and when we print x the output is string type.

In [10]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

If we want to specify the data type of a variable, this can be done with casting.The above code shows how to cast.

In [11]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

If we want to get the data type of a variable,we can use the type() function to get it.

In [13]:
x = "John"
# is the same as
x = 'John'
print(x)

John

String variables can be declared either by using single or double quotes

In [14]:
a = 4
A = "Sally"
print(a)
print(A)

4
Sally

Variable names are case-sensitive.

# Data Type Examples are given below:

In [15]:
x = 5
print(type(x))

<class 'int'>

Print the data type of the variable x

How set the data type is given below:

In [2]:
x = str("Hello World")
print(x)

Hello World

In [3]:
x = int(20)
print(x)

20

In [4]:
x = list(("apple", "banana", "cherry"))
print(x)

['apple', 'banana', 'cherry']

In [6]:
x = tuple(("apple", "banana", "cherry"))
print(x)

('apple', 'banana', 'cherry')

In [7]:
x = range(6)
print(x)

range(0, 6)

In [8]:
x = dict(name="John", age=36)
print(x)

{'name': 'John', 'age': 36}

In [9]:
x = set(("apple", "banana", "cherry"))
print(x)

{'cherry', 'banana', 'apple'}

In [10]:
x = frozenset(("apple", "banana", "cherry"))
print(x)

frozenset({'cherry', 'banana', 'apple'})

In [11]:
x = bool(5)
print(x)

True

In [12]:
x = bytes(5)
print(x)

b'\x00\x00\x00\x00\x00'

In [13]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [14]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x7b3eccf259c0>
<class 'memoryview'>

**Python Numbers Example:**

In [15]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [16]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [17]:
import random

print(random.randrange(1, 10))

4